/*GERAL*/
:root {
    --fundo-claro: #f8f9fa;
    --verde-escuro: #01281f;
    --verde-medio: #1b4332;
    --verde-claro: #b7e4c7;
    --caixa-destaque: #b8d8ba;
    --rosa-alerta: rgb(255, 0, 102);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
header {
    position: fixed;
    top: 20px;
    left: 50%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    z-index: 10;
    background: var(--verde-claro);
    opacity: 0.8;
    border-radius: 30px;
    transform: translate(-50%);
}
nav ul {
    display: flex;
    gap: 40px;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: var(--verde-escuro);
    font-size: 0.95rem;
    position: relative;
    display: inline-block;
    transition:
        transform 0.2s ease,
        opacity 0.2s ease;
}
nav ul li a:hover {
    transform: scale(1.08);
    opacity: 0.8;
}
nav ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background-color: currentColor;
    transition: width 0.3s ease;
}
nav ul li a:hover::after {
    width: 100%;
}
.destaque {
    font-weight: 500;
}
.destaque::after {
    width: 100%;
}

/*página inicial*/
.inicio {
    padding-top: 180px;
    padding-bottom: 30px;
    position: relative;
    isolation: isolate;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 30px;
    align-items: center;
    color: #013227;
    font-family: "Inter", sans-serif;
    background-image: linear-gradient(rgba(255,255,255,0.2), rgba(255, 255, 255, 0.158)), url(../imagens/amazonia.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
}
.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}
.inicio h1 {
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: 64px;
    font-weight: 600;
    margin-bottom: 15px;
    line-height: 1.1;
    
}
.inicio p {
    position: relative;
    margin: 0 auto;
    font-size: 16px;
    max-width: 420px;
    margin-bottom: 25px;

    color: var(--verde-escuro);
    padding-left: 25px;
    line-height: 1.7;
    font-family: Georgia, "Times New Roman", Times, serif;
}
.inicio p::before {
    content: "";
    position: absolute;
    left: 0;
    top: 5px;
    width: 3px;
    height: 100%;
    background-color: var(--verde-medio);
    border-radius: 2px;
}
.inicio a {
    position: absolute;
    bottom: 30px;
    margin-bottom: 30px;
    text-decoration: none;
    padding: 10px 26px;
    border: 1px solid var(--verde-medio);
    border-radius: 30px;
    color: var(--verde-medio);
    transition: 0.3s;
    font-size: 14px;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(3px);

    transition: transform 0.3s ease;

}
.inicio a:hover {
    background-color: var(--verde-medio);
    color: white;}

.informacoes {
    background: var(--fundo-claro);
    padding: 140px 120px;
}
.sobre {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 70px;
    padding: 50px;
    margin: auto;
    border-radius: 30px;
    background: rgba(255,255,255,0.65);
    backdrop-filter: blur(10px);
    box-shadow: 0 15px 40px rgba(0,0,0,0.8);
}
.texto-sobre {
    width: 60%;
}
.texto-sobre h1 {
    font-size: 64px;
    margin-bottom: 25px;
    color: var(--verde-escuro);
    font-family: "Merriweather", serif;
    line-height: 1.1;
}
.texto-sobre p {
    font-size: 19px;
    line-height: 1.9;
    margin-bottom: 20px;
    font-family: "Libre Baskerville",serif;
    color: black;

}
.sobre-figura {
    width: 40%;
    display: flex;
    justify-content: center;
}
.sobre-figura img {
    width: 100%;
    max-width: 420px;
    height: auto;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.18);
    border-radius: 24px;
    transition: transform 0.4s ease;
}
.sobre-figura img:hover{
    transform: scale(1.03);
}
.texto-sobre,
.sobre-figura {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}
/*pagina animais*/
.pagina-animais {
    min-height: 100vh;
}
.inicio-animais{
    padding-top: 180px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 70vh;
    background-image:
        linear-gradient(
            rgba(0,0,0,0.35),
            rgba(0,0,0,0.55)),
        url("../imagens/lobo-guara.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 font-family: "Merriweather", serif;
 box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
}
.conteudo-animais{
    margin-left:80px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 40px;
}
.conteudo-animais h1{
    color: white;
    font-size: 72px;
    line-height: 1;
    margin-bottom: 0;
    font-family: "Merriweather", serif;
}
.conteudo-animais p{
    position: relative;
    max-width: 700px;
    color: white;
    font-size: 20px;
    line-height: 1.8;
    padding-left: 25px;
    font-family: "Libre Baskerville",serif;
    margin-bottom: 10px;
}
.conteudo-animais p::before{
    content: "";
    position: absolute;
    left: 0;
    top: 5px;
    width: 3px;
    height: 100%;
    background: var(--verde-claro);
    border-radius: 10px;
}
.botao-animais{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 16px 34px;
    border-radius: 40px;
    background: var(--fundo-claro);
    color: var(--verde-escuro);
    text-decoration: none;
    font-size: 18px;
    width: fit-content;
    transition: transform 0.3s ease, background 0.3s ease;
}
.botao-animais:hover{
    transform: scale(1.05);
    background: white;
}
.introducao-cards{
    text-align: center;
    padding: 100px 20px 70px;
    background: linear-gradient(to bottom, rgba(255,255,255,0), #f8f9fa);
}
.introducao-cards h2{
    font-size: 42px;
    color: var(--verde-escuro);
    margin-bottom: 20px;
    font-family: "Merriweather", serif;
}
.introducao-cards p{
    max-width: 850px;
    margin: 0 auto;
    font-size: 20px;
    line-height: 1.8;
    color: #1f1f1f;
    font-family: "Libre Baskerville", serif;
}
.card-animais{
    margin-top: 20px;
    padding: 0 60px 100px;
    display: flex;
    justify-content: center;
    gap: 35px;
    flex-wrap: wrap;
}
.terrestres,
.aquaticos,
.aereos {
    border-radius: 28px;
    cursor: pointer;
    position: relative;
    flex: 1 1 300px;
    overflow: hidden;
    max-width: 350px;
    vertical-align: top;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}
.terrestres:hover,
.aquaticos:hover,
.aereos:hover {
    transform: translateY(-10px) scale(1.02);
    box-shadow: 0 20px 45px rgba(0,0,0,0.35);
}
.imagem-animais{
    position: relative;
    overflow: hidden;
    border-radius: 28px;
}
.imagem-animais::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
     background:
        linear-gradient(
            to top,
            rgba(0,0,0,0.75),
            rgba(0,0,0,0.15),
            transparent
        );

    z-index: 1;
}
.imagem-animais img {
    position: relative;
    width: 100%;
    height: 350px;
    object-fit: cover;
    transition: transform 0.3s ease;
    box-shadow:none;
}
.terrestres:hover img,
.aquaticos:hover img,
.aereos:hover img {
    transform: scale(1.08);
}
.tipo-de-animal {
    text-align: center;
    margin-top: -40px;
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    z-index: 10;
}
.tipo-de-animal h3 {
    letter-spacing: 0.5px;
    font-weight: 600;
    color: white;
    font-size: 25px;
    background: var(--verde-medio);
    opacity: 0.7;
    display: block;
    width: 100%;
    padding: 14px 0;
    text-align: center;
     
    border: 1.3px solid var(--verde-escuro);
}
.botao-causas{
    margin-bottom: 35px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding: 16px 34px;
    border-radius: 40px;
    text-decoration: none;
    font-size: 16px;
    background: var(--verde-medio);
    color: white;
    transition: transform 0.3s ease,
                backgroud 0.3s ease,
                box-shadow 0.3s ease;
}
.botao-causas:hover{
    transform: scale(1.03);
    background: var(--verde-escuro);
    box-shadow: 0 12px 24px rgba(0,0,0,0.2);
}

/*=================================================================================================================*/
                                        /*PAGINA CAUSAS*/
 @keyframes mostrar-direita{
    from{
        opacity: 0;
        transform: translateX(0) scale(0.6);
    }
    to{
        opacity: 1;
        transform: translateX(150px) scale(1);
    }
}

 @keyframes mostrar-esquerda{
    from{
        opacity: 0;
        transform: translateX(0) scale(0.6);
    }
    to{
        opacity: 1;
        transform: translateX(-150px) scale(1);
    }
}

.desloca-direita, .mini-direita{
    animation: mostrar-direita linear both;
    animation-timeline: view();
    animation-range: entry 0% cover 20%;
}


.desloca-esquerda, .mini-esquerda{
    animation: mostrar-esquerda linear both;
    animation-timeline: view();
    animation-range: entry 0% cover 20%;
}

.inicio-causas {
    padding-top: 180px;
    padding-bottom: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 30px;
    align-items: flex-start;
    color: var(--verde-escuro);
    font-family: "Merriweather", serif;
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)),
        url(../imagens/veado-em-chamas.jpg);
    background-size: cover;
    background-position: center;
    height: 70vh;
}

.conteudo-causas h1 {
    margin-left: 120px;
    margin-top: 0;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    line-height: 1.2;
    color: var(--verde-escuro);
}

.conteudo-causas p {
    position: relative;
    margin-left: 100px;
    max-width: none;
    font-size: 20px;
    color: var(--verde-escuro);
}

.container-info {
    display: flex;
    gap: 10vw;
    flex-wrap: wrap;
    justify-content: center;
    color: var(--rosa-alerta);
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    gap: 10px;
}

.info h1 {
    margin-top: 50px;
    font-size: 40px;
    font-family: "Libre Baskeville", serif;
}

.info p {
    font-size: 18px;
    font-family: "Libre Baskeville", serif;
}

.causas {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: "Libre Baskeville", serif;
}

.causas h2 {
    margin-top: 200px;
    font-size: 20px;
    font-family: "Merriweather", serif;
}
.causas p {
    margin-bottom: 60px;
}
.pagina-causas {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    margin: 30px auto;
    max-width: 1000px;
    font-family: "Merriweather", serif;
    background-color: var(--caixa-destaque);
    border-radius: 20px;
    padding: 30px;
}
.pagina-causas p {
    max-width: 500px;
    color: var(--verde-escuro);
    font-family: "Libre Baskeville", serif;
}

.invertida {
    flex-direction: row-reverse;
}

.conteudo-principais {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 500px;
}

.desloca-esquerda {
    transform: translateX(-100px);
}

.desloca-direita {
    transform: translateX(100px);
}

.pagina-causas-img {
    overflow: hidden;
    height: 350px;
    border-radius: 30px;
}

.pagina-causas-img img {
    height: 350px;
    border-radius: 30px;
    transition: transform 0.5s ease;
    display: block;
}

.pagina-causas-img img:hover {
    transform: scale(1.1);
}

.imagem-mini {
    display: flex;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

.imagem-mini p {
    font-family: "Libre Baskeville", serif;
    font-size: 20px;
    color: rgb(255, 0, 102);
    margin: 0px;
    background-color: rgba(255, 0, 102, 0.2);
    border-radius: 10px;
    padding: 10px;
}

.imagem-mini img {
    height: 80px;
    width: auto;
    background-color:  rgba(183, 228, 199, 0.4);
    border-radius: 10px;
}

.mini-esquerda {
    transform: translate(-100px);
    justify-content: flex-start;
}

.mini-direita {
    transform: translate(100px);
    justify-content: flex-end;
}
/* PÁGINA DE ANIMAIS AQUATICOS*/
.inicio-animais-aquaticos{
    padding-top: 180px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 70vh;
    background-image:
        linear-gradient(
            rgba(0,0,0,0.35),
            rgba(0,0,0,0.55)),
            url("../imagens/tartaruga-no-lixo.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 font-family: "Merriweather", serif;
 box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
}
.inicio-animais-aereos{
    position: relative;
    flex-direction: column;
    display: flex;
    padding-top: 180px;
    justify-content: flex-start;
    align-items: flex-start;
    height: 70hv;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: "Merrieweather",serif;
    box-shadow: 0 10px 25px rgba(0,0,0,0.4);
    background-image: linear-gradient(rgba(0,0,0,0.35), rgba(0,0,0,0.55)), url(../imagens/aves-ameaçadas.jpg);
}
.inicio-animais-terrestres{
    position: relative;
    flex-direction: column;
    display: flex;
    padding-top: 180px;
    justify-content: flex-start;
    align-items: flex-start;
    height: 70hv;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:  center;
    font-family: "Merrieweather",serif;
    box-shadow: 0 10px 25px rgba(0,0,0,0.4);
    background-image: linear-gradient(rgba(0,0,0,0.35), rgba(0,0,0,0.55)), url(../imagens/tatu-bola.jpg);
}